@import url('https://fonts.googleapis.com/css2?family=Recursive&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Recursive&display=swap');
*{
    margin: 0;
    padding: 0;
}
.logo{
    width: 20%;
    display: flex;
    justify-content: center;
    align-items: center;    
}
.logo img{
    width: 50%;
    border: 3px solid brown;
    /* border-radius: 50px; */
}
.navbar{
    display: flex;
    align-items: center;
    justify-content: center;
    position: sticky;
    top:0;
    cursor: pointer;
}
.navlist{
    width: 70%;
    /* background-color: black; */
    display: flex;
    /* justify-content: center; */
    align-content: center;
}
.navlist li{
    list-style: none;
    padding: 26px 30px;
}
.navlist li a{
    text-decoration: none;
    color:white;
    font-family: 'Recursive', sans-serif;
    font-size: 25px;
    text-align: center;
}
.navlist li a:hover{
    text-decoration: none;
    color:cyan;
}
.rightnav{
    width: 30%;
    /* background-color: pink; */
    text-align: right;
    padding: 0 23px;
}
#search{
    padding: 5px;
    font-size: 30;
    border: 2px solid grey;
    border-radius: 9px;
}

.background{
    background: rgba(0,0,0,0.7) url('Image1.jpg');
    background-size: cover;
    background-blend-mode: darken;
}
.box-main{
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    max-width: 50%;
    margin: auto;
    height: 80%;
}
.firstsection{
    height: 100vh;
}
.first-half{
    width: 75%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.second-half{
    width: 30%;
}
.second-half img{
    width: 100%;
    border: 5px solid white;
    /* border-radius: 150px; */
    display: block;
    margin: auto;
}
.text-big{
    font-size: 41px;
}
.text-small{
    font-size: 18px;
}
.btn{
    padding: 8px 20px;
    margin: 8px 2px;
    border: 2px solid white;
    border-radius: 8px;
    font-size: 16px;
    /* background-color: peru; */
    background:none;
    color:white;
    cursor: pointer;
    font-size:18px;
}
.btn:hover{
    text-decoration: none;
    color:yellow;
}
.section{
    height: 500px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    max-width: 80%;
    margin: auto;
    font-family: 'Recursive', sans-serif;
}
.sectiontag{
    padding: 10px 0;
}
.secleft{
    flex-direction: row-reverse;
}
.paras{
    padding: 0 65px;
} 
.thumbnail img{
    width: 250px;
    border: 3px solid brown;
    border-radius: 25px;
    margin-top: 20px;
}
.contact{
    /* background-color:rgb(243, 241, 241); */
    height: 650px;
}
.text-center{
    text-align: center;
    padding-top: 10px;
    font-family: 'Recursive', sans-serif;
    font-size: 30px;
}
.form{
    max-width: 1000px;
    margin: 25px auto;
}
.form-input{
    margin: 14px 0;
    padding: 5px 3px;
    width: 100%;
    font-size: 19px;
    font-family: 'Recursive', sans-serif;
    border: 2px solid grey;
}
.btn-btn2{
    color: black;
    border:2px solid grey;
    padding: 8px 20px;
    margin: 8px 2px;
    border-radius: 8px;
    font-size: 16px;
    background: none;
    cursor: pointer;
    font-size: 20px;
}
.btn-btn2:hover{
    text-decoration: none;
    color:brown;
}
.contact{
    background: rgba(0,0,0,0.7) url('../images/image4.JPG');
    background-size: cover;
    background-blend-mode: lighten;
}
.sarthak{
    text-align: center;
    padding: 30px;
    font-family: 'Recursive', sans-serif;
    display: flex;
    justify-content: center;
    color: white;
    background-color: black;

}
.burger{
    display: none;
    position: absolute;
    cursor: pointer;
    right: 5%;
    top: 15px;
}
.line{
    width: 33px;
    background-color: white;
    height: 4px;
    margin: 5px 3px;
}
@media only screen and (max-width: 1140px){
    .navlist{
        flex-direction: column;
        text-align: center;
    }
    .navbar{
        flex-direction: column;
        transition: all 0.7s ease-out;
        height: 400px;
    }
    .rightnav{
        text-align: center;
    }
    #search{
        width: 100%;
    }
    .burger{
        display: block;
    }
    .sar{
        height: 72px;
    }
    .sar1{
        opacity: 0;
    }
}